.App {
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
}

body {
  font-family: sans-serif;
  background-color: white;
}


button.ui.teal.button {
  margin: 5px;
  padding-left: 1em;
  padding-right: 1em;
}

.search-box {
  width: 100%;
  text-align: center;
}

.results-list {
  padding-top: 2em; 
}
