body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}

div.navbar {
  width: 100%;
  height: 25vh;
  background: #f6b68c;
  color: white;
  font: sans-serif;
  text-align: center;
}

a.active {
  font: sans-serif;
  font-weight: bold;
  padding-top: 15px;
  font-size: 2em;
  text-decoration: none;
}

a:hover {
  color: rgb(85, 141, 177);
}

a:link {
  font-size: 2em;
  text-decoration: none;
  font-weight: bold;
}

/*div.ui.pointing.menu {
  color: red;
}*/
